################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.suo
*.user
/timez/packages
/timez/.vs/timez/v14/vbcs.cache
/timez/timez/bin
/timez/timez/bld
*.map
