################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/timez/.vs/timez/v14/.suo
