<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="knockoutjs" version="3.3.0" targetFramework="win81" userInstalled="true" />
  <package id="moment.js" version="2.10.0.0" targetFramework="win81" userInstalled="true" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.7.8" targetFramework="win81" userInstalled="true" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.0.2" targetFramework="win81" userInstalled="true" />
</packages>